html, body{
  margin: 0;
  padding: 0;

  ul{
    margin: 0;
  }

  #box1{
    width: 190px;
    height: 140px;
    background-color: red;
    background: url('../images/生小孩.jpg');
    background-size: cover;
  }

  #box2{
    width: 190px;
    height: 140px;
    background-color: red;
    background: url('../images2/生小孩.jpg');
    background-size: cover;
  }
}